body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: dimgrey;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

footer {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 145px);
}
.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    border-radius: 2rem;
    color: rgb(245, 250, 253);
    font-weight: 600;
}
.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 120, 120);
    font-weight: 600;
}
.card-content {
    flex-grow: 1;
}
.char {
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    border: black solid 1px;
    border-radius: 1rem;
    background-color: rgb(121, 120, 120);
}
.properties-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1rem;
    font-weight: 600;
    color: rgb(245, 250, 253);
}
.char-info {
    background-color: dimgrey;
    width: 95%;
    font-weight: 600;
}
.collection .collection-item {
    background-color: rgb(121, 120, 120);
    border: none;
    font-weight: 600;
    color: rgb(245, 250, 253);
    font-weight: 600;
}
.collection {
    border-radius: 1rem;
    border-color: black;
    font-weight: 600;
}
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#nav-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.active {
    color: mediumspringgreen;
    text-decoration: underline;
    font-size: larger;
}

.episode-item {
    display: grid;
    grid-template-columns: 10fr 1fr;
}
.my-link {
    display: flex;
    justify-content: end;
}
